body{
  margin: 0;
  padding: 0;
  background-color: rgb(27,28,32);
}

#app{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: fit-content;
  margin: auto;
  flex-direction: column;

  /* !TEMP */
  overflow: hidden;
}

#video-container{
  position: relative;
}

#video{
  scale: -1 1;
  position: absolute;
  z-index: -1;
  /* height: 100%; */
}

/* #overlay{
  scale: -1 1;
} */

#viewport-container{
  position: relative;
}

#viewport{
  /* scale: -1 1; */
}